versions/0.1/CM_1.json
{
  "name": "CM-1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "46b0b3a0-c468-42f8-895c-48f273269491",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        160
      ],
      "id": "7ff9b219-5ef0-49f4-8704-9026909ada8a",
      "name": "Webhook",
      "webhookId": "46b0b3a0-c468-42f8-895c-48f273269491",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gzLexLLQPMYijQDw",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "cm",
        "data": "={\n  \"name\": \"{{ $json.main.name }}\",\n  \"desc\": \"{{ $json.main.desc }}\",\n  \"responsible\": \"{{ $json.main.responsible }}\"\n}"
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "2a3a1087-25e0-4015-a7f2-8cbbc3585807",
      "name": "Создаем контекст процесса",
      "credentials": {
        "directusApi": {
          "id": "QgrTgVS5WyYP3KSC",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e90bfd99-a1b9-4189-a630-2e319efb1202",
              "leftValue": "={{ $json.main.due_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        160
      ],
      "id": "3482557c-5a63-40a3-9a70-67353c00070d",
      "name": "Дата не указана?"
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "cm",
        "data": "={\n  \"name\": \"{{ $json.main.name }}\",\n  \"desc\": \"{{ $json.main.desc }}\",\n  \"responsible\": \"{{ $json.main.responsible }}\",\n  \"due_date\": \"{{ $json.main.due_date }}\"\n}"
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        208,
        240
      ],
      "id": "06c10aaa-9765-478a-9e87-472542d74f0a",
      "name": "Создаем контекст с датой",
      "credentials": {
        "directusApi": {
          "id": "QgrTgVS5WyYP3KSC",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let nowDate = new Date()\nnowDate.setDate(nowDate.getDate()+1)\nnowDate.setHours(nowDate.getHours()+3)\nconst nowStr = nowDate.toISOString()\n\nreturn {\n  nowStr\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "aba45ea9-5110-4db4-9d8d-afcb83131124",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "task",
        "data": "={\n  \"name\": \"Запланировать {{ $('Edit Fields').item.json.main.name }}\",\n  \"responsible\": \"{{ $('Edit Fields').item.json.main.responsible }}\",\n  \"process\": \"{{ $('Edit Fields').item.json.main.process }}\",\n  \"type\": \"plan-task\",\n  \"context\": \"{{ $('Создаем контекст процесса').item.json.id }}\",\n  \"due_date\": \"{{ $json.nowStr }}\"\n}"
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "e1a745ea-bba7-449e-a8bb-5f76a961e8ae",
      "name": "Создаем задачу на планирование",
      "credentials": {
        "directusApi": {
          "id": "QgrTgVS5WyYP3KSC",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "task",
        "data": "={\n  \"name\": \"Запланировать {{ $('Edit Fields').item.json.main.name }}\",\n  \"responsible\": \"{{ $('Edit Fields').item.json.main.responsible }}\",\n  \"process\": \"{{ $('Edit Fields').item.json.main.process }}\",\n  \"type\": \"complete-task\",\n  \"context\": \"{{ $json.id }}\",\n  \"due_date\": \"{{ $json.due_date }}\"\n}"
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        432,
        240
      ],
      "id": "0abca71e-407e-477a-a0d8-58ca8a02b43a",
      "name": "Создаем задачу на выполнение",
      "credentials": {
        "directusApi": {
          "id": "QgrTgVS5WyYP3KSC",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a878fe97-f774-4fa9-b4a7-3167192428e0",
              "name": "main",
              "value": "={{ $json.body.main }}",
              "type": "object"
            },
            {
              "id": "daef110f-aa92-4060-9e79-1d4453396852",
              "name": "user",
              "value": "={{ $json.body.user }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        160
      ],
      "id": "e237512f-b96a-43fa-907b-4767b1dd2272",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "authorization": "Bearer 0fc0879bc76e3c98bf37d15516b21",
            "user-agent": "axios/1.11.0",
            "content-length": "274",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "main": {
              "workflow": "46b0b3a0-c468-42f8-895c-48f273269491",
              "process": "50558a56-e136-4b47-a187-97241ade0546",
              "name": "321",
              "responsible": "f800c6cd-0ff8-4b37-8352-5d7da2afa2d4",
              "due_date": "2025-12-01 12:30",
              "desc": "321"
            },
            "user": "20b57e21-1f30-4e9c-b84f-60122172eb3c"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/46b0b3a0-c468-42f8-895c-48f273269491",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дата не указана?": {
      "main": [
        [
          {
            "node": "Создаем контекст процесса",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Создаем контекст с датой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаем контекст процесса": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Создаем задачу на планирование",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаем контекст с датой": {
      "main": [
        [
          {
            "node": "Создаем задачу на выполнение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Дата не указана?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "623812c4-1d60-44ac-9101-c8ce19208556",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "772498ecb78a2ca4af03eb72606061f2b56dff0402bedae728018d70c240341d"
  },
  "id": "loPAFPWAbxkFzuF2",
  "tags": [
    {
      "createdAt": "2025-10-29T06:15:42.684Z",
      "updatedAt": "2025-10-29T06:15:42.684Z",
      "id": "DhTzKirALfmojxR1",
      "name": "cm"
    }
  ]
}