versions/0.1/CM_3.json
{
  "name": "CM-3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "59f515f6-2d14-4091-8d5c-a6b2833f1ccc",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ec5902bc-b42e-402d-bbf0-d27facac218c",
      "name": "Webhook",
      "webhookId": "59f515f6-2d14-4091-8d5c-a6b2833f1ccc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1IEeS9i4qyi1LujZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.body.contextId }}",
        "collection": "cm",
        "additionalFields": {}
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "fe269ffb-3556-4369-a850-fcf2099d9755",
      "name": "Получаем контекст процесса",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "collection": "user_profile",
        "additionalFields": {
          "filter": "={\n\t\"user\": {\n\t\t\"_eq\": \"{{ $json.responsible }}\"\n\t}\n}"
        }
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "d6722e8a-2309-4873-9742-329ab34d195e",
      "name": "Узнаем телеграмм id инициатора",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e330316b-015d-46ef-a0b1-18859acea3d9",
              "leftValue": "={{ $json }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        0
      ],
      "id": "6ca6d8e1-46bc-4a95-a789-0e76eec52d35",
      "name": "Найден профиль?"
    },
    {
      "parameters": {
        "chatId": "={{ $json[0].telegram }}",
        "text": "=Задача \"{{ $('Получаем контекст процесса').item.json.name }}\" завершена",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -280
      ],
      "id": "eacaa397-c353-468a-b356-74baa8a8c222",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "xfaXFNubzY7KTUkV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('Webhook').first().json.body.taskId }}",
        "collection": "task",
        "data": "{\n  \"status\": 2\n}"
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1940,
        0
      ],
      "id": "452a0c9b-d670-4661-aa8e-807366f1ee3e",
      "name": "Завершить задачу",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json[0].telegram }}",
        "text": "=По Задаче \"{{ $('Получаем контекст процесса').item.json.name }}\" перенос срока. Новая дата - {{ $('Webhook').item.json.body.dueDate }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -100
      ],
      "id": "478bf541-c8f9-45a5-8034-28828eb391fc",
      "name": "Telegram1",
      "credentials": {
        "telegramApi": {
          "id": "xfaXFNubzY7KTUkV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f058a981-61b4-40dd-82ba-7fee451d989b",
              "leftValue": "={{ $('Webhook').item.json.body.taskStatus }}",
              "rightValue": "Завершено",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        -100
      ],
      "id": "6eadcc98-1a3d-47db-950f-2e48af93a1ba",
      "name": "Задача завершена?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f058a981-61b4-40dd-82ba-7fee451d989b",
              "leftValue": "={{ $('Webhook').item.json.body.taskStatus }}",
              "rightValue": "Завершено",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        160
      ],
      "id": "6ff4a195-5481-4b2c-8465-5c6a930044aa",
      "name": "Задача завершена?1"
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "task",
        "data": "={\n  \"name\": \"Выполнить {{ $('Получаем контекст процесса').first().json.name }}\",\n  \"responsible\": \"{{ $('Получаем контекст процесса').first().json.responsible }}\",\n  \"process\": \"{{ $('Получаем контекст процесса').first().json.process }}\",\n  \"type\": \"complete-task\",\n  \"context\": \"{{ $('Получаем контекст процесса').first().json.id }}\",\n  \"due_date\": \"{{ $('Webhook').first().json.body.dueDate }}\"\n}"
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1320,
        -40
      ],
      "id": "d56fffcd-5165-4df7-84b3-a19d7700d455",
      "name": "Создаем задачу на планирование",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('Webhook').item.json.body.contextId }}",
        "collection": "cm",
        "data": "={\n  \"due_date\" : \"{{ $('Webhook').item.json.body.dueDate }}\"\n} "
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1500,
        -40
      ],
      "id": "ab50b9b7-e2b4-4fc9-942a-ba2daddf2166",
      "name": "Обновить дату в контексте",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('Webhook').item.json.body.contextId }}",
        "collection": "cm",
        "data": "={\n  \"status\" : 2\n} "
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1540,
        -280
      ],
      "id": "f3a22db7-16a1-4349-bacd-986fc12bca96",
      "name": "Обновить статус в контексте",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('Webhook').item.json.body.contextId }}",
        "collection": "cm",
        "data": "={\n  \"status\" : 3\n} "
      },
      "type": "n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1680,
        -40
      ],
      "id": "abaff4c8-44ef-4885-a928-44b44d33d4c9",
      "name": "Обновить статус в контексте1",
      "credentials": {
        "directusApi": {
          "id": "fFr7oLTgDyDNqkF1",
          "name": "Directus Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "115",
            "sec-ch-ua-platform": "\"Windows\"",
            "authorization": "Bearer 0fc0879bc76e3c98bf37d15516b21",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 YaBrowser/25.2.0.0 Safari/537.36",
            "accept": "application/json",
            "sec-ch-ua": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"YaBrowser\";v=\"25.2\", \"Yowser\";v=\"2.5\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "origin": "http://localhost:3000",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:3000/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "ru,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "contextId": "17",
            "taskId": "312cf1be-da18-424d-8d34-cb2723cf9b4c",
            "dueDate": null,
            "taskStatus": "Завершено"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/59f515f6-2d14-4091-8d5c-a6b2833f1ccc",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Получаем контекст процесса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем контекст процесса": {
      "main": [
        [
          {
            "node": "Узнаем телеграмм id инициатора",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Узнаем телеграмм id инициатора": {
      "main": [
        [
          {
            "node": "Найден профиль?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Найден профиль?": {
      "main": [
        [
          {
            "node": "Задача завершена?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Задача завершена?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Обновить статус в контексте",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задача завершена?": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задача завершена?1": {
      "main": [
        [
          {
            "node": "Обновить статус в контексте",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Создаем задачу на планирование",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Создаем задачу на планирование",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаем задачу на планирование": {
      "main": [
        [
          {
            "node": "Обновить дату в контексте",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить дату в контексте": {
      "main": [
        [
          {
            "node": "Обновить статус в контексте1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить статус в контексте": {
      "main": [
        [
          {
            "node": "Завершить задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить статус в контексте1": {
      "main": [
        [
          {
            "node": "Завершить задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "596945b7-c338-49e6-b593-ad40e0dfbe8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58eacf1089ce742307965fe1febaf68c91c2f0730b23d78218be2a03edf268b8"
  },
  "id": "pnqafWRj9a7wRvxj",
  "tags": [
    {
      "createdAt": "2025-02-14T11:31:39.485Z",
      "updatedAt": "2025-02-14T11:31:39.485Z",
      "id": "ZBv0ATNK3DIfV7Yg",
      "name": "cm"
    }
  ]
}