versions/0.1/First init.json
{
  "name": "First init",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0192d0b1-895d-4803-af20-b969326a16ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "test@test.ru"
            },
            {
              "name": "password",
              "value": "test"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "aa16257c-4639-4824-9e56-19dcf114c5cb",
      "name": "Login"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/schema/diff",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.data.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"version\": 1,\n\t\"directus\": \"11.12.0\",\n\t\"vendor\": \"postgres\",\n\t\"collections\": [\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": \"archived\",\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": \"process\",\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": null,\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": \"draft\",\n\t\t\t\t\"versioning\": false\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"cm\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": null,\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"process\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": \"process_chart\",\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": null,\n\t\t\t\t\"versioning\": false\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"process\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process_status\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": null,\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"process_status\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": \"references\",\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": null,\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": null,\n\t\t\t\t\"versioning\": false\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"process_status\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"references\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": null,\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"references\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": \"folder\",\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": null,\n\t\t\t\t\"versioning\": false\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": null,\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": \"task\",\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": null,\n\t\t\t\t\"versioning\": false\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"task\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task_status\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": null,\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"task_status\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": \"references\",\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": null,\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": null,\n\t\t\t\t\"versioning\": false\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"task_status\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"meta\": {\n\t\t\t\t\"accountability\": \"all\",\n\t\t\t\t\"archive_app_filter\": true,\n\t\t\t\t\"archive_field\": null,\n\t\t\t\t\"archive_value\": null,\n\t\t\t\t\"collapse\": \"open\",\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"color\": null,\n\t\t\t\t\"display_template\": null,\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"icon\": \"supervised_user_circle\",\n\t\t\t\t\"item_duplication_fields\": null,\n\t\t\t\t\"note\": null,\n\t\t\t\t\"preview_url\": null,\n\t\t\t\t\"singleton\": false,\n\t\t\t\t\"sort\": null,\n\t\t\t\t\"sort_field\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"unarchive_value\": null,\n\t\t\t\t\"versioning\": false\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_profile\"\n\t\t\t}\n\t\t}\n\t],\n\t\"fields\": [\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"id\",\n\t\t\t\"type\": \"integer\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"id\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"id\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"integer\",\n\t\t\t\t\"default_value\": \"nextval('cm_id_seq'::regclass)\",\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": 32,\n\t\t\t\t\"numeric_scale\": 0,\n\t\t\t\t\"is_nullable\": false,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": true,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": true,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"user_created\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"user\",\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user_created\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{avatar}} {{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"user-created\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_created\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"date_created\",\n\t\t\t\"type\": \"timestamp\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"datetime\",\n\t\t\t\t\"display_options\": {\n\t\t\t\t\t\"relative\": true\n\t\t\t\t},\n\t\t\t\t\"field\": \"date_created\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"date-created\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"date_created\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"timestamp with time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"user_updated\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"user\",\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user_updated\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{avatar}} {{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 4,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"user-updated\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_updated\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"date_updated\",\n\t\t\t\"type\": \"timestamp\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"datetime\",\n\t\t\t\t\"display_options\": {\n\t\t\t\t\t\"relative\": true\n\t\t\t\t},\n\t\t\t\t\"field\": \"date_updated\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 5,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"date-updated\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"date_updated\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"timestamp with time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"name\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 6,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"desc\",\n\t\t\t\"type\": \"text\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"desc\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input-multiline\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 11,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"desc\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"responsible\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"responsible\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"enableCreate\": false,\n\t\t\t\t\t\"template\": \"{{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 8,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"responsible\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"due_date\",\n\t\t\t\"type\": \"dateTime\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"due_date\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 9,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"due_date\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"timestamp without time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"process\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"process\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 7,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"process\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": \"50558a56-e136-4b47-a187-97241ade0546\",\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"process\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"status\",\n\t\t\t\"type\": \"integer\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"cm\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"status\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 10,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"status\",\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"data_type\": \"integer\",\n\t\t\t\t\"default_value\": 1,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": 32,\n\t\t\t\t\"numeric_scale\": 0,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"process_status\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process\",\n\t\t\t\"field\": \"id\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"id\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"uuid\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"id\",\n\t\t\t\t\"table\": \"process\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": false,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": true,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process\",\n\t\t\t\"field\": \"name\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name\",\n\t\t\t\t\"table\": \"process\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process\",\n\t\t\t\"field\": \"name_en\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name_en\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name_en\",\n\t\t\t\t\"table\": \"process\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process\",\n\t\t\t\"field\": \"url\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"url\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 4,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"url\",\n\t\t\t\t\"table\": \"process\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process_status\",\n\t\t\t\"field\": \"id\",\n\t\t\t\"type\": \"integer\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process_status\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"id\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"id\",\n\t\t\t\t\"table\": \"process_status\",\n\t\t\t\t\"data_type\": \"integer\",\n\t\t\t\t\"default_value\": \"nextval('process_status_id_seq'::regclass)\",\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": 32,\n\t\t\t\t\"numeric_scale\": 0,\n\t\t\t\t\"is_nullable\": false,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": true,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": true,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process_status\",\n\t\t\t\"field\": \"name\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process_status\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name\",\n\t\t\t\t\"table\": \"process_status\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"process_status\",\n\t\t\t\"field\": \"name_en\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"process_status\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name_en\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name_en\",\n\t\t\t\t\"table\": \"process_status\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"id\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"id\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"uuid\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"id\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": false,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": true,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"user_created\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"user\",\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user_created\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{avatar}} {{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"user-created\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_created\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"date_created\",\n\t\t\t\"type\": \"timestamp\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"datetime\",\n\t\t\t\t\"display_options\": {\n\t\t\t\t\t\"relative\": true\n\t\t\t\t},\n\t\t\t\t\"field\": \"date_created\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"date-created\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"date_created\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"timestamp with time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"user_updated\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"user\",\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user_updated\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{avatar}} {{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 4,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"user-updated\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_updated\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"date_updated\",\n\t\t\t\"type\": \"timestamp\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"datetime\",\n\t\t\t\t\"display_options\": {\n\t\t\t\t\t\"relative\": true\n\t\t\t\t},\n\t\t\t\t\"field\": \"date_updated\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 5,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"date-updated\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"date_updated\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"timestamp with time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"name\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 6,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"responsible\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"responsible\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 7,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"responsible\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"due_date\",\n\t\t\t\"type\": \"dateTime\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"due_date\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 8,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"due_date\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"timestamp without time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"process\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"process\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 9,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"process\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"process\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"type\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"type\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 10,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"type\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"context\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"context\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 11,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"context\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"status\",\n\t\t\t\"type\": \"integer\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"status\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"enableCreate\": false\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 12,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"status\",\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"data_type\": \"integer\",\n\t\t\t\t\"default_value\": 1,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": 32,\n\t\t\t\t\"numeric_scale\": 0,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"task_status\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task_status\",\n\t\t\t\"field\": \"id\",\n\t\t\t\"type\": \"integer\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task_status\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"id\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"id\",\n\t\t\t\t\"table\": \"task_status\",\n\t\t\t\t\"data_type\": \"integer\",\n\t\t\t\t\"default_value\": \"nextval('task_status_id_seq'::regclass)\",\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": 32,\n\t\t\t\t\"numeric_scale\": 0,\n\t\t\t\t\"is_nullable\": false,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": true,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": true,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task_status\",\n\t\t\t\"field\": \"name\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task_status\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name\",\n\t\t\t\t\"table\": \"task_status\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task_status\",\n\t\t\t\"field\": \"name_en\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"task_status\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"name_en\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"name_en\",\n\t\t\t\t\"table\": \"task_status\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"id\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"id\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 1,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"uuid\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"full\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"id\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": false,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": true,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"user_created\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"user\",\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user_created\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{avatar}} {{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 2,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"user-created\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_created\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"date_created\",\n\t\t\t\"type\": \"timestamp\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"datetime\",\n\t\t\t\t\"display_options\": {\n\t\t\t\t\t\"relative\": true\n\t\t\t\t},\n\t\t\t\t\"field\": \"date_created\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 3,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"date-created\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"date_created\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"timestamp with time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"user_updated\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"user\",\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user_updated\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"template\": \"{{avatar}} {{first_name}} {{last_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 4,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"user-updated\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user_updated\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"date_updated\",\n\t\t\t\"type\": \"timestamp\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": \"datetime\",\n\t\t\t\t\"display_options\": {\n\t\t\t\t\t\"relative\": true\n\t\t\t\t},\n\t\t\t\t\"field\": \"date_updated\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": true,\n\t\t\t\t\"interface\": \"datetime\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": true,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 5,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"date-updated\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"date_updated\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"timestamp with time zone\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"user\",\n\t\t\t\"type\": \"uuid\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"user\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"select-dropdown-m2o\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": {\n\t\t\t\t\t\"enableCreate\": false,\n\t\t\t\t\t\"template\": \"{{last_name}} {{first_name}}\"\n\t\t\t\t},\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 6,\n\t\t\t\t\"special\": [\n\t\t\t\t\t\"m2o\"\n\t\t\t\t],\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"user\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"uuid\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": null,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": true,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"telegram\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"meta\": {\n\t\t\t\t\"collection\": \"user_profile\",\n\t\t\t\t\"conditions\": null,\n\t\t\t\t\"display\": null,\n\t\t\t\t\"display_options\": null,\n\t\t\t\t\"field\": \"telegram\",\n\t\t\t\t\"group\": null,\n\t\t\t\t\"hidden\": false,\n\t\t\t\t\"interface\": \"input\",\n\t\t\t\t\"note\": null,\n\t\t\t\t\"options\": null,\n\t\t\t\t\"readonly\": false,\n\t\t\t\t\"required\": false,\n\t\t\t\t\"sort\": 7,\n\t\t\t\t\"special\": null,\n\t\t\t\t\"translations\": null,\n\t\t\t\t\"validation\": null,\n\t\t\t\t\"validation_message\": null,\n\t\t\t\t\"width\": \"half\"\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"name\": \"telegram\",\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"data_type\": \"character varying\",\n\t\t\t\t\"default_value\": null,\n\t\t\t\t\"max_length\": 255,\n\t\t\t\t\"numeric_precision\": null,\n\t\t\t\t\"numeric_scale\": null,\n\t\t\t\t\"is_nullable\": true,\n\t\t\t\t\"is_unique\": false,\n\t\t\t\t\"is_indexed\": false,\n\t\t\t\t\"is_primary_key\": false,\n\t\t\t\t\"is_generated\": false,\n\t\t\t\t\"generation_expression\": null,\n\t\t\t\t\"has_auto_increment\": false,\n\t\t\t\t\"foreign_key_table\": null,\n\t\t\t\t\"foreign_key_column\": null\n\t\t\t}\n\t\t}\n\t],\n\t\"relations\": [\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"user_created\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"cm\",\n\t\t\t\t\"many_field\": \"user_created\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"column\": \"user_created\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"cm_user_created_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"user_updated\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"cm\",\n\t\t\t\t\"many_field\": \"user_updated\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"column\": \"user_updated\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"cm_user_updated_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"responsible\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"cm\",\n\t\t\t\t\"many_field\": \"responsible\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"column\": \"responsible\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"cm_responsible_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"SET NULL\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"process\",\n\t\t\t\"related_collection\": \"process\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"cm\",\n\t\t\t\t\"many_field\": \"process\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"process\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"column\": \"process\",\n\t\t\t\t\"foreign_key_table\": \"process\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"cm_process_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"SET NULL\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"cm\",\n\t\t\t\"field\": \"status\",\n\t\t\t\"related_collection\": \"process_status\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"cm\",\n\t\t\t\t\"many_field\": \"status\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"process_status\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"cm\",\n\t\t\t\t\"column\": \"status\",\n\t\t\t\t\"foreign_key_table\": \"process_status\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"cm_status_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"SET NULL\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"user_updated\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"task\",\n\t\t\t\t\"many_field\": \"user_updated\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"column\": \"user_updated\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"task_user_updated_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"user_created\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"task\",\n\t\t\t\t\"many_field\": \"user_created\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"column\": \"user_created\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"task_user_created_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"responsible\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"task\",\n\t\t\t\t\"many_field\": \"responsible\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"column\": \"responsible\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"task_responsible_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"SET NULL\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"process\",\n\t\t\t\"related_collection\": \"process\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"task\",\n\t\t\t\t\"many_field\": \"process\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"process\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"column\": \"process\",\n\t\t\t\t\"foreign_key_table\": \"process\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"task_process_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"SET NULL\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"task\",\n\t\t\t\"field\": \"status\",\n\t\t\t\"related_collection\": \"task_status\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"task\",\n\t\t\t\t\"many_field\": \"status\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"task_status\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"task\",\n\t\t\t\t\"column\": \"status\",\n\t\t\t\t\"foreign_key_table\": \"task_status\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"task_status_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"SET NULL\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"user_updated\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"user_profile\",\n\t\t\t\t\"many_field\": \"user_updated\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"column\": \"user_updated\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"user_profile_user_updated_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"user_created\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"user_profile\",\n\t\t\t\t\"many_field\": \"user_created\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"column\": \"user_created\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"user_profile_user_created_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"collection\": \"user_profile\",\n\t\t\t\"field\": \"user\",\n\t\t\t\"related_collection\": \"directus_users\",\n\t\t\t\"meta\": {\n\t\t\t\t\"junction_field\": null,\n\t\t\t\t\"many_collection\": \"user_profile\",\n\t\t\t\t\"many_field\": \"user\",\n\t\t\t\t\"one_allowed_collections\": null,\n\t\t\t\t\"one_collection\": \"directus_users\",\n\t\t\t\t\"one_collection_field\": null,\n\t\t\t\t\"one_deselect_action\": \"nullify\",\n\t\t\t\t\"one_field\": null,\n\t\t\t\t\"sort_field\": null\n\t\t\t},\n\t\t\t\"schema\": {\n\t\t\t\t\"table\": \"user_profile\",\n\t\t\t\t\"column\": \"user\",\n\t\t\t\t\"foreign_key_table\": \"directus_users\",\n\t\t\t\t\"foreign_key_column\": \"id\",\n\t\t\t\t\"constraint_name\": \"user_profile_user_foreign\",\n\t\t\t\t\"on_update\": \"NO ACTION\",\n\t\t\t\t\"on_delete\": \"NO ACTION\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "b3707db7-8e11-43b0-9517-014640d1e913",
      "name": "Schema diff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/schema/apply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.data.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "95e942c3-db1f-4ecb-94b8-8d1fd043edd8",
      "name": "Schema apply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/items/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.data.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n    {\n      \"id\": \"1eb5d85e-418f-4482-89dd-25976176f0e7\",\n      \"name\": \"Встреча\",\n      \"name_en\": \"Meeting conduct\",\n      \"url\": \"meet\"\n    },\n    {\n      \"id\": \"50558a56-e136-4b47-a187-97241ade0546\",\n      \"name\": \"Непрерывный менеджмент\",\n      \"name_en\": \"Сontinuous management\",\n      \"url\": \"cm\"\n    }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        224
      ],
      "id": "9e92ccaa-c494-4995-afe1-dfaa1edea167",
      "name": "Added process"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/items/process_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.data.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n    {\n      \"id\": 1,\n      \"name\": \"в работе\",\n      \"name_en\": \"at work\"\n    },\n    {\n      \"id\": 2,\n      \"name\": \"завершен\",\n      \"name_en\": \"completed\"\n    },\n    {\n      \"id\": 3,\n      \"name\": \"перенос срока\",\n      \"name_en\": \"postponement\"\n    }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        224
      ],
      "id": "01baa9f8-16dc-43d3-8235-572377757dab",
      "name": "Added process status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/items/task_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.data.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n    {\n      \"id\": 1,\n      \"name\": \"в работе\",\n      \"name_en\": \"at work\"\n    },\n    {\n      \"id\": 2,\n      \"name\": \"завершена\",\n      \"name_en\": \"completed\"\n    }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        224
      ],
      "id": "47ae3b15-4b97-4700-9f62-383797f3c8ac",
      "name": "Added task status"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Schema diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema diff": {
      "main": [
        [
          {
            "node": "Schema apply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema apply": {
      "main": [
        [
          {
            "node": "Added process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Added process": {
      "main": [
        [
          {
            "node": "Added process status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Added process status": {
      "main": [
        [
          {
            "node": "Added task status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32cbe6e1-f1a3-4aac-8625-219f6031f683",
  "meta": {
    "instanceId": "772498ecb78a2ca4af03eb72606061f2b56dff0402bedae728018d70c240341d"
  },
  "id": "WxwLPqcpkUsgKKQn",
  "tags": []
}